<div>
  <div id="hello">
    <h1>{{ msg }}</h1>
    Upload CSV Here<button @click="getMethod">Upload</button>
    <h3>{{ apiResponse }}</h3>
  </div>
  <!-- <div>
    <vue-csv-import
      url="http://127.0.0.1:5000/flask/upload-csv"
      :map-fields="{columnA: 'Susan'}"
    >
    </vue-csv-import>
    <div v-if="csv">
      {{ csv }}
    </div>
  </div> -->
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label
        >File
        <input
          type="file"
          id="file"
          ref="file"
          v-on:change="handleFileUpload()"
        />
      </label>
      <button v-on:click="submitFile()">Submit</button>
      <p v-if="predictionResult">{{ predictionResult }}</p>
    </div>
  </div>
</div>
